html, body {
    height: 100vh;
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #dddddd;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 0;
    margin-bottom: 50px;
}

button {
    margin-top: 0 auto;
    padding: 15px;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 20px;
}

button:hover {
    background-color: white;
    color: black;
}

#boardContainer {
    display: inline-block;
    padding: 2%;
    border: 5px solid black;
    background-image: url(../images/board-container-bg.jpg);
    background-size: cover;
}

.row {
    
}

.cell {
    display: inline-block;
    width: 10vw;
    height: 10vw;
    margin: 0px;
    max-width: 11vh;
    max-height: 11vh;
}

.checker {
    width: 80%;
    height: 80%;
    margin: 10%;
    border-radius: 50%;
}

.black-checker {
    background-image: url(../images/black-checker.jpg);
    background-size: cover;
}

.white-checker {
    background-image: url(../images/white-checker.jpeg);
    background-size: cover;
}

.black {
    background-image: url(../images/black-marble.jpg);
}

.white {
    background-image: url(../images/white-marble.jpeg);
}